{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com -->
  <title>SIWISATA (kIRito-D)</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{% static "images/logo-square.png" %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/template_app.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static 'js/template_app.js' %}"></script>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/retrieval"><img src="{% static "images/logo.png" %}" style="width: 79px;height:35px;margin-top:-10%"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#portfolio">TOP DESTINATIONS JAKARTA</a></li>
        <li><a href="#indonesia">TOP CITIES INDONESIA</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>SIWISATA</h1> 
  <p>Sistem Pencari Tempat Wisata Berbagai Kota di Indonesia</p> 
  <form name="input-form" class="form-short" method = "post" action="search/">
    {% csrf_token %}
    <div class="input-group col-sm-12">
    <div style="padding:20px">
      <select class="form-control" id="city" name="city" required>
          <option value = "">Pilih Kota...</option>
          <option value="Jakarta">Jakarta</option>
          <option value="Jogjakarta">Jogjakarta</option>
          <option value="Bali">Bali</option>
      </select>     
    </div>
    <div style="padding: 20px">
      <input type="text" class="form-control" size="50" placeholder="Enter Your Query" name="query" id="query" required>
    </div>
    <div style="padding: 20px">
        <input type="submit" class="btn btn-primary" value="Search">
    </div>
  </form>
  </div>
</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row row-indo">
    <div class="col-sm-8">
      <h2>About This Project</h2><br>
      <h4>Proyek ini merupakan tugas akhir mata kuliah perolehan Informasi yang berupa retrieval model dari tempat wisata
      di Indonesia yang di pisahkan sesuai dengan kotanya dan output berupa top-k tempat wisata pada kota tersebut, data didapat dari berbagai situs web di Internet dan didapat dengan
      metode data crawling. Dibuat oleh Agas Yanpratama dan Jahns Christian A dengan Nama Kelompok kIRito-D. </h4><br>
    </div>
    <div class="col-sm-4" style:"height:100%">
      <img src="{% static "images/indonesia.jpg" %}" alt="Indonesia"  class="img-responsive center-block">
    </div>
  </div>
</div>

<!-- Container (Top Destination Section) -->
<div id="portfolio" class="container-fluid text-center bg-grey">
  <h2>Jakarta</h2><br>
  <h4>Top Destinations on Jakarta</h4>
  <div class="row text-center slideanim">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="{% static "images/monas.jpg" %}" alt="Monas" style="width:100%">
        <p><strong>Monumen Nasional</strong></p>
        <p>Monumen Nasional atau yang populer disingkat dengan Monas atau Tugu Monas adalah
         monumen peringatan setinggi 132 meter (433 kaki) yang didirikan untuk mengenang perlawanan dan 
         perjuangan rakyat Indonesia untuk merebut kemerdekaan dari pemerintahan kolonial Hindia Belanda. 
         Pembangunan monumen ini dimulai pada tanggal 17 Agustus 1961 di bawah perintah presiden Sukarno,
        dan dibuka untuk umum pada tanggal 12 Juli 1975. Tugu ini dimahkotai lidah api yang dilapisi lembaran emas yang melambangkan semangat perjuangan yang 
        menyala-nyala. Monumen Nasional terletak tepat di tengah Lapangan Medan Merdeka, Jakarta Pusat.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="{% static "images/tmii.jpg" %}" alt="TMII" width="400" height="300">
        <p><strong>Taman Mini Indonesia Indah</strong></p>
        <p>Taman Mini Indonesia Indah (TMII) merupakan suatu kawasan
        taman wisata bertema budaya Indonesia di Jakarta Timur.
        Area seluas kurang lebih 150 hektare atau 1,5 kilometer
        persegi ini terletak pada koordinat 6°18′6.8″LS,106°53′47.2″BT.
        Taman ini merupakan rangkuman kebudayaan bangsa Indonesia, 
        yang mencakup berbagai aspek kehidupan sehari-hari masyarakat 26 provinsi
        Indonesia (pada tahun 1975) yang ditampilkan dalam anjungan daerah berarsitektur tradisional, 
        serta menampilkan aneka busana, tarian, dan tradisi daerah. Di samping itu, di tengah-tengah 
        TMII terdapat sebuah danau yang menggambarkan miniatur kepulauan Indonesia di tengahnya, 
        kereta gantung, berbagai museum, dan Teater IMAX Keong Mas dan Teater Tanah Airku), 
        berbagai sarana rekreasi ini menjadikan TMIII sebagai salah satu kawasan wisata terkemuka di ibu kota.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="{% static "images/ancol.jpg" %}" alt="San Francisco" width="400" height="300">
        <p><strong>Taman Impian Jaya Ancol</strong></p>
        <p>Taman Impian Jaya Ancol merupakan sebuah objek wisata di bumi sari natar Jakarta Utara. 
        Sebagai komunitas pembaharuan kehidupan masyarakat yang menjadi kebanggaan bangsa.
         Senantiasa menciptakan lingkungan sosial yang lebih baik melalui sajian hiburan berkualitas yang berunsur seni,
         budaya dan pengetahuan, dalam rangka mewujudkan komunitas 'Life Re-Creation' yang menjadi kebanggaan bangsa.</p>
      </div>
    </div>
  </div><br>
</div>

<div id="indonesia" class="container-fluid text-center">
  <h2>Top Cities on Indonesia</h2>
    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <h2>Jakarta</h2>
          <img src="{% static "images/jakarta.jpg" %}" alt="Jakarta" width="400" height="300"  class="img-responsive center-block">
          <h4>Jakarta merupakan salah satu destinasi wisata yang cukup baik di Indonesia. Untuk meningkatkan jumlah wisatawan yang berkunjung ke Jakarta, pemerintah mengadakan program "Enjoy Jakarta". Beberapa tempat pariwisata yang terkenal dan biasa dikunjungi oleh para wisatawan lokal dan mancanegara di antaranya adalah Taman Mini Indonesia Indah, Pulau Seribu, Kebun Binatang Ragunan, dan Taman Impian Jaya Ancol (termasuk taman bermain Dunia Fantasi dan Seaworld Indonesia). Disamping itu Jakarta juga memiliki banyak tempat wisata sejarah, yakni berupa museum dan tugu. Diantaranya adalah Museum Gajah, Museum Fatahillah, dan Monumen Nasional. Disamping tempat wisatanya yang memadai, saat ini di Jakarta telah tersedia sekitar 219 hotel berbintang, 3.173 restoran, dan 40 balai pertemuan.</h4>
        </div>
        <div class="item">
          <h2>Bali</h2>
          <img src="{% static "images/bali.jpg" %}" alt="Bali" width="400" height="300"  class="img-responsive center-block">
          <h4>Bali adalah primadona pariwisata Indonesia yang sudah terkenal di seluruh dunia. Selain terkenal dengan keindahan alam, terutama pantainya, Bali juga terkenal dengan kesenian dan budayanya yang unik dan menarik. Industri pariwisata berpusat di Bali Selatan dan di beberapa daerah lainnya. Lokasi wisata yang utama adalah Kuta dan sekitarnya seperti Legian dan Seminyak, daerah timur kota seperti Sanur, pusat kota seperti Ubud, dan di daerah selatan seperti Jimbaran, Nusa Dua dan Pecatu. Bali sebagai tempat tujuan wisata yang lengkap dan terpadu memiliki banyak sekali tempat wisata menarik, antara lain : Pantai Kuta, Pura Tanah Lot, Pantai Padang - Padang, Danau Beratan Bedugul, Garuda Wisnu Kencana (GWK), Pantai Lovina dengan Lumba Lumbanya, Pura Besakih, Uluwatu, Ubud, Munduk, Kintamani, Amed, Tulamben, Pulau Menjangan dan masih banyak yang lainnya.</h4>
        </div>
        <div class="item">
          <h2>Jogjakarta</h2>
          <img src="{% static "images/jogja.jpeg" %}" alt="Jogjakarta" width="400" height="300"  class="img-responsive center-block">
          <h4>Wisata di DIY meliputi wisata MICE (Meeting, Incentive, Convention and Exhibition), wisata budaya, wisata alam, wisata minat khusus, dan berbagai fasilitas wisata lainnya, seperti resort, hotel, dan restoran. Tercatat ada 37 hotel berbintang, dan 1.011 hotel melati di seluruh DIY pada 2010. Adapun penyelenggaraan MICE sebanyak 4.509 kali per tahun atau sekitar 12 kali per hari[5]. Keanekaragaman upacara keagamaan, dan budaya dari berbagai agama serta didukung oleh kreativitas seni, dan keramahtamahan masyarakat, membuat DIY mampu menciptakan produk-produk budaya, dan pariwisata yang menjanjikan.</h4>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>


<!-- Image of location/map -->
<img src="{% static "images/bundaran-hi.jpg" %}" class="w3-image w3-greyscale-min" style="width:100%">
<div style="font-size:20px">
<footer class="container-fluid text-center">
  <p><a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a></p>
  <p>© 2018 Copyright: <a href="http://ir-attraction.herokuapp.com/">kIRito-D - Fasilkom UI</a> (Agas & Tian)</p>  
  <a href="https://gitlab.com/agasyan/finalprojectir"><img src="{% static "images/gitlab.png" %}" alt="gitlab" style="height: 100px"></a></p>
</footer>
</div>

</body>
</html>
