{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com -->
  <title>SIWISATA (kIRito-D)</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{% static "images/logo-square.png" %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/template_app.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static 'js/template_app.js' %}"></script>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/retrieval"><img src="{% static "images/logo.png" %}" style="width: 79px;height:35px;margin-top:-10%"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/retrieval">HOME</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>SIWISATA</h1> 
  <p>Sistem Pencari Tempat Wisata Berbagai Kota di Indonesia</p>
  <p>Hasil dari Query "{{query}}" pada kota {{city}}.</p>   
</div>

{% if noCity%}  
    <div class="page-header text-center text-success">
        <h2>No Attractions on Our Database based on your Query</h2>
    </div>
{% else %}
    <div id="result" class="container-fluid text-center bg-grey">
    <div class="row text-center">
    {% for i in places %}
      <div class="col-sm-6">
        <div class="thumbnail">
          <img src={{ i.img_URL }} alt="Monas" style="width:100%">
          <h2 style="font-size:3vw;"><strong> {{ i.name }} </strong></h2>
          <div class="font-result" style="padding-left:2%;padding-right:2%">
            <p><strong>Jam Buka:</strong><br> {{ i.open_hours }} </p>
            <p><strong>Alamat:</strong><br> {{ i.address }} </p>
            <p><strong>Deskripsi:</strong><br> {{ i.description }} </p>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
    </div>
{% endif %}

<div style="font-size:20px">
<footer class="container-fluid text-center">
  <p><a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a></p>
  <p>© 2018 Copyright: <a href="http://ir-attraction.herokuapp.com/">kIRito-D - Fasilkom UI</a> (Agas & Tian)</p>  
  <a href="https://gitlab.com/agasyan/finalprojectir"><img src="{% static "images/gitlab.png" %}" alt="gitlab" style="height: 100px"></a></p>
</footer>
</div>

</body>
</html>
